---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-dumper
  namespace: ragnarok
spec:
  selector:
    matchLabels:
      app: dumper
  replicas: 1
  template:
    metadata:
      labels:
        app: dumper
    spec:
      containers:
      - name: order-dumper
        image: archbungle/order-dumper:0.0.41d27
        imagePullPolicy: IfNotPresent 
        securityContext:
          privileged: true
        env:
        - name: PORT_NUMBER
          value: "80"
        - name: ADMIN_PASSWORD
          value: "Crypt0N0m1c0n##"
        - name: SEQUENCE_REPLAY_DB
          value: "6"
        - name: OUTPUT_DIR_PATH
          value: "/orders"
        - name: S3_BUCKET_ADDRESS
          value: "s3://eqnx-tradedata-source001"
        - name: REMOTE_SOURCE_DIRECTORY
          value: "/inputs" 
        - name: NAMESPACE
          value: "ragnarok"
        - name: NUM_JOBS
          value: "1"
        - name: NUM_WORKERS
          value: "1"
        - name: KAFKA_SOURCE_BROKER_ADDRESS
          value: "10.0.9.118"
        - name: DEFAULT_REPLICA_MAX
          value: "10"
        - name: PULSAR_BROKER_SERVICE_ADDRESS
          value: "pulsar://pulsar-broker.pulsar.svc.cluster.local:6650"
        - name: PULSAR_CONSUMER_SUBSCRIPTION_NAME
          value: "sub002"
        - name: MESSAGE_TOPIC
          value: "ragnarok/transactions/requests"
        - name: KAFKA_BROKER_SERVICE_ADDRESS
          value: "kafka-cp-kafka.kafka.svc.cluster.local:9092"
        - name: KAFKA_BROKER1_ADDRESS
          value: "kafka-0.kafka-headless.kafka.svc.cluster.local:9092"
        - name: KAFKA_BROKER2_ADDRESS
          value: "kafka-1.kafka-headless.kafka.svc.cluster.local:9092"
        - name: KAFKA_SOURCE_TOPIC
          value: "api0001"
        - name: ORDER_STREAM_START_TIME 
          value: "2022-05-26T10:50:00.000Z"
        - name: ORDER_STREAM_END_TIME 
          value: "2022-05-28T20:51:00.000Z"
        - name: KAFKA_BROKER3_ADDRESS
          value: "kafka-2.kafka-headless.kafka.svc.cluster.local:9092"
        - name: REDIS_ALLOCATOR_NS_INDEX
          value: "11"
        - name: REDIS_MASTER_ADDRESS
          value: "ragnarok-redis-master.redis.svc.cluster.local:6379"
        - name: REDIS_REPLICA_ADDRESS
          value: "ragnarok-redis-replicas.redis.svc.cluster.local:6379"
        - name: REDIS_PASS
          value: "Yj7Oe21iHz"
        - name: CONSUMER_GROUP
          value: "cg001"
        - name: KCAT_PATH
          value: "/usr/bin/kcat"
        - name: DATA_SOURCE_DIRECTORY
          value: "/datastore/inputs"
        - name: LOCAL_LOGFILE_PATH
          value: "/applogs"
        - name: DEADLETTER_TOPIC
          value: "deadLetter"
        - name: METRICS_TOPIC
          value: "metrics"      
        - name: METRICS_PORT_NUMBER
          value: "80"
        - name: START_MESSAGE_SEQUENCE_ID
          value: "1000"
        - name: STOP_MESSAGE_SEQUENCE_ID
          value: "1100"
        - name: GRAFANA_DASHBOARD_URL
          value: "http://13.67.56.239/d/AtqYwRA7k/transaction-matching-system-load-metrics?orgId=1" 
        - name: ADMIN_PASSWORD
          value: "somethingrandom"
        ports:
          - name: tcp-80
            containerPort: 80
        volumeMounts:
          - name: orders-data
            mountPath: /orders
      volumes:
        - name: orders-data
          persistentVolumeClaim:
            claimName: dumper-claim
      imagePullSecrets:
        - name: ragnarok
---
apiVersion: v1
kind: Service
metadata:
  name: dumper-service
  namespace: ragnarok
  labels:
    app: dumper
spec:
  type: ClusterIP
  selector:
    app: dumper
  ports:
    - name: tcp-80
      port: 80
      targetPort: 80
      protocol: TCP
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: dumper-claim
  namespace: ragnarok
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: gp2
